input, textarea, select {
  appearance: none;
  border: 1px solid var(--stroke-default);
  border-radius: .5rem;
  width: 100%;
  padding: .75rem 1rem;
  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block;
  margin-bottom: .25rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: .25rem solid var(--surface-color);
  outline-offset: .1px;
  border: .125rem solid var(--stroke-highlight);
}

